.Container {
  padding: 1rem;
}
.InputsWrap {
  margin: 1rem auto;
  width: 20rem;
}
@media screen and (min-width: 480px) {
  .InputsWrap {
    display: flex;
    width: 35rem;
  }
}
@media screen and (min-width: 480px) {
  .OptionSelection {
    width: 10rem;
  }
}
