.Search {
  max-width: 400px;
  position: relative;
  display: flex;
}
@media screen and (max-width: 480px) {
  .Search {
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 480px) {
  .Search {
    margin-left: 0.3rem;
    width: 45rem;
  }
}
.SearchSpan {
  width: 15%;
  border: 1px solid lightgrey;
  background: lightgrey;
  padding-top: 0.4rem;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
}
.SearchInput {
  width: 85%;
  border: 3px solid lightgrey;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.SearchInput:focus {
  border: 3px solid darkblue;
  caret-color: darkblue;
}
