.Search {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  display: flex;
}
.SearchSpan {
  width: 15%;
  border: 1px solid lightgrey;
  background: lightgrey;
  padding-top: 4px;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
}
.SearchInput {
  width: 85%;
  border: 3px solid lightgrey;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
}
